.parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
    max-width: 1600px;
}
.manu{
    display: flex;
    gap: 32px;
    list-style: none;
    
}
.manu a{
    text-decoration: none;
}
.btn{
    padding: 12px 16px;
    border: 4px;
    background-color:#30B868;
    color: rgba(255, 255, 255, 1);
    font-family: Inter;
    font-style: Semi Bold;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    text-align: left;
    text-transform: capitalize;
        }